body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: lightgoldenrodyellow;
    color: darkblue;
}

a {
    text-decoration: none;
    color: darkred;
}

a:hover {
    color: darkgreen;
}

ul>li {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li:hover {
    font-size: larger;
    font-family: cursive;
}

ul li::before {
    content: "✨";
}

a::after {
    content: "🎉";
}

p::first-letter {
    font-size: xx-large;
    font-family: fantasy;
}