body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
    color: brown;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover {
    color: black;
}

ul>li {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li:hover {
    font-size: xx-large;
    font-family: cursive;
}

ul li::before {
    content: "😉";
}

a::after {
    content: "🤗";
}

p::first-letter {
    font-size: xx-large;
    font-family: fantasy;
}